2026-51MCM-Problems/2026-51MCM-Problem A/2026-51MCM-Problem A-English.docx
2026-51MCM-Problems/2026-51MCM-Problem A/2026-51MCM-Problem A.docx
2026-51MCM-Problems/2026-51MCM-Problem A/A-附件.xlsx
2026-51MCM-Problems/2026-51MCM-Problem A/A-Attachment.xlsx
2026-51MCM-Problems/2026-51MCM-Problem B/2026-51MCM-Problem B-English.docx
2026-51MCM-Problems/2026-51MCM-Problem B/2026-51MCM-Problem B.docx
2026-51MCM-Problems/2026-51MCM-Problem B/B-附件.xlsx
2026-51MCM-Problems/2026-51MCM-Problem B/B-attachment.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/2026-51MCM-Problem C-English.docx
2026-51MCM-Problems/2026-51MCM-Problem C/2026-51MCM-Problem C.docx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/附件1：两组位移时序数据-问题1.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/附件2：位移时序数据-问题2.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/附件3：监测数据（训练集与实验集）-问题3.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/附件4：监测数据（训练集与实验集）-问题4.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/附件5：监测数据-问题5.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/Attachment 1：Two sets of displacement time series data – Question 1.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/Attachment 2：Displacement time series data – Question 2.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/Attachment 3：Monitoring data (training set & experimental set) – Question 3.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/Attachment 4：Monitoring data (training set & experimental set) – Question 4.xlsx
2026-51MCM-Problems/2026-51MCM-Problem C/C 附件(Attachment)/Attachment 5：Monitoring data – Question 5.xlsx
2026-51MCM-Problems/论文提交说明+论文模板+论文格式规范+AI工具使用规定/2026年五一数学建模竞赛论文格式规范.docx
2026-51MCM-Problems/论文提交说明+论文模板+论文格式规范+AI工具使用规定/2026年五一数学建模竞赛论文模板.docx
2026-51MCM-Problems/论文提交说明+论文模板+论文格式规范+AI工具使用规定/2026年五一数学建模竞赛论文提交说明.docx
2026-51MCM-Problems/论文提交说明+论文模板+论文格式规范+AI工具使用规定/2026年五一数学建模竞赛人工智能工具使用规定.docx
Data/Attachment 1：Two sets of displacement time series data – Question 1.xlsx
Data/Attachment 2：Displacement time series data – Question 2.xlsx
Data/Attachment 3：Monitoring data (training set & experimental set) – Question 3.xlsx
Data/Attachment 4：Monitoring data (training set & experimental set) – Question 4.xlsx
Data/Attachment 5：Monitoring data – Question 5.xlsx
Question/2026-51MCM-Problem C.docx
Q1/Filtered 1.xlsx
Filtered 1.xlsx
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/plugins/callout-manager/data.json
.obsidian/plugins/callout-manager/main.js
.obsidian/plugins/callout-manager/manifest.json
.obsidian/plugins/callout-manager/styles.css
.obsidian/plugins/obsidian-functionplot/main.js
.obsidian/plugins/obsidian-functionplot/manifest.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-git/styles.css
.obsidian/plugins/obsidian-latex-suite/data.json
.obsidian/plugins/obsidian-latex-suite/main.js
.obsidian/plugins/obsidian-latex-suite/manifest.json
"$null"  
